import java.util.Scanner;

public class pra1 {
    public static void main(String[] args) {
        Scanner sc = new Scanner(System.in);
        System.out.println("Enter radius Of Circal");
        int r = sc.nextInt();
        float area = (float) ((r * r) * Math.PI);
        System.out.println("Area Of Circla " + area);
        sc.close();
    }
}
